<h1>Welcome to HealthTracker</h1>
<div class="content">
	<%= button_to "Add new Meal information", new_meal_url, :method => :get%>
	<%= button_to "See all your meals", meals_url, :method => :get %>
</div>